/*
Theme Name:     Jupiter Child Theme: Agile Academy
Theme URI: 		http://themeforest.net/user/artbees
Description:    Child theme for the Jupiter theme 
Author:         Prowareness
Theme URI: 		http://themeforest.net/user/artbees
Template:       jupiter
Version:        5.0.12
*/


/* Custom styles Jupiter 5 Child theme - Agile Academy */

.mk-main-navigation>.main-navigation-ul>.menu-item-language a { margin:-20px; }
.fit-logo-img a img { max-height:80%; }

/* Custom styles taken from Jupiter 4 Child theme */
.container-event-search {
    display: block;
    width: 100%;
    background-color: #FF6E00;
    padding: 10px 20px 10px 20px;
    max-width: 950px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .container-event-search {
        width: 90%;
    }
}

.container-event-search h2 {
    font-size: 18px!important;
    color: #FFF!important;
    text-transform: none!important;
}

.container-event-search input[type=text] {
    display: block;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ff6e00;
    padding: 7px;
    margin-top: 0;
}

.container-event-search button {
    font-size: 16px;
    margin-top: 10px;
    float: right;
    border: 1px solid #ff6e00;
    color: white;
    padding: 7px;
    background-color: #FFB780;
}

.container-event-search #event-search-cat-select {
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.container-event-search #event-search-cat-select select {
    width: 100%;
    max-width: 320px;
}

@media screen and (max-width: 520px) {

    .container-event-search #event-search-cat-select {
        float: none;
        display: block;
    }

    .container-event-search button {
        float: none;
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    .container-event-search #event-search-cat-select select {
        width: 100%;
        max-width: 100%;
    }

}

.ui-autocomplete, .ui-autocomplete li {
    position: absolute;
    cursor: default;
    z-index: 1000 !important;
}

.event-search-results {
    vertical-align: top !important;
}

.event-search-results h1 {
    display: block;
    color: #ff6e00 !important;
    font-size: 22px !important;
    margin-bottom: 14px !important;
}

.event-search-result {
    position: relative;
    width: 30%;
    min-width: 175px;
    height: 340px;
    margin: 0 14px 14px 0;
    padding: 0;
    border: 1px solid rgb(227, 227, 227);
    display: inline-block;
    vertical-align: top !important;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .event-search-result {
        width: 47%;
    }
}

@media screen and (max-width: 700px) {
    .event-search-result {
        width: 100%;
    }
}

.event-search-result-title {
    padding: 14px 15px;
    display: block;
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgb(227, 227, 277);
    color: rgb(119, 119, 119);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
    min-height: 72px;
}

.event-search-result-title a {
    color: rgb(119, 119, 119);
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: bold;
}

.event-search-result-body {
    padding: 20px;
    display: block;
    overflow: hidden;
}

.event-search-result-body img {
    display: block;
    margin: 7px 7px 7px 0px;
    clear: both;
}

.event-search-result-details {
    padding: 0px 7px;
    display: block;
    overflow: hidden;
}

.event-search-result-details table {
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
}

.event-search-result-details td {
    text-align: left;
    vertical-align: top;
    padding: 0px 7px 10px 0px;
}

.event-search-result-details th {
    text-align: left;
    vertical-align: top;
    padding: 0px 7px 10px 0px;
}

.event-search-result h1 {
    font-size: 16px!important;
    margin-bottom: 3px!important;
}

.event-search-result-action {
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    text-align: right;
}

.event-search-result-action .pw-button {
    position: relative;
    display: inline-block;
    border: 1px solid #ff6e00;
    background-color: #ff6e00;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    width: auto;
    padding: 7px 20px;
    text-transform: uppercase;
}

.event-search-result-action .pw-button:hover {
    background-color: #252525;
    border: 1px solid #252525;
}

.event-search-browse {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
}

.event-search-browse .event-search-browse-page {
    position: relative;
    display: inline-block;
    border: 1px solid #ff6e00;
    background-color: #fff;
    color: #ff6e00;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
    width: auto;
    padding: 7px 20px;
    margin: 7px;
    text-transform: uppercase;
}

.event-search-browse .event-search-browse-page-active {

    border: 1px solid #ff6e00;
    background-color: #ff6e00;
    color: #fff;

}

.event-search-browse .event-search-browse-page:hover {
    background-color: #252525;
    border: 1px solid #252525;
}

.event-apply-btn {
    border: 1px solid #f9f9f9;
    background-color: #ff6e00;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    margin: 7px 0px;
    display: inline-block;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
}

.event-apply-btn:hover {
    color: #fff;
    background-color: #ff9632;
}

@media screen and (max-width: 768px) {

    .event-apply-btn:first-child {
        display: inline-block;
    }

    .event-apply-btn {
        display:none;
    }

}

.show-event-title {
    display: block;
    text-align: center;
    padding-top: 2.5em;
}

.show-event-title h1 {
    color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc !important;
    -webkit-text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc !important;
}

.show-event-planning  table {
    margin-top: 7px;
    width: 100%;
    box-sizing: border-box;
}

.show-event-planning table tr th, .show-event-planning table tr td {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
}

.show-event-planning  table tr th {
    background-color: #f0f0f0;
    color: #999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.show-event-planning table tr th:nth-child(1) {
    min-width: 90px;
}

.show-event-planning table tr th:nth-child(2) {
    min-width: 90px;
}

.show-event-planning table tr th:nth-child(4) {
    min-width: 90px;
}

.show-event-planning table tr td a {
    color: #ff6e00 !important;
}

.show-event-planning table tr:nth-child(odd) {
    background: #fafafa;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.show-event-planning table tr:nth-child(even) {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background: #FFFFFF;
}

@media screen and (max-width: 960px) {

    .show-event-planning th {
        display: none;
    }

    .show-event-planning td {
        display: inline-block;
        width: 45%;
        padding: 3px 7px;
    }

}

.show-event-location {
    display: inline-block;
    margin-right: 10px;
}

.show-event-trainer-title, .show-event-location-title {
    font-size: 1.2em !important;
    color: #ff6e00 !important;
}

.show-event-trainer-name, .show-event-location-name {
    color: #777 !important;
    font-size: 0.9em !important;
    margin-top: 4px;
}

.show-event-location-img {
    margin-top: 4px;
}

.show-event-trainer {
    display: inline-block;
    margin: 5px;
    width: 125px;
    vertical-align: top;
}

@media screen and (max-width: 1000px) {
    .show-event-trainer {
        width: 110px;
    }
}

@media screen and (max-width: 870px) {
    .show-event-trainer {
        width: 100px;
    }
}

@media screen and (max-width: 800px) {
    .show-event-trainer {
        width: 125px;
    }
}

.show-event-read-more {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
    border-top: 1px solid #f0f0f0;
}

.show-event-read-more a {
    display: inline-block !important;
    padding: 7px 14px;
    background-color: #ff6e00;
    color: #fff;
}

.show-event-read-more a:hover {
    color: #fefefe;
    background-color: #ff9632;
}

.show-event-description h2 {
    font-size: 1.5em !important;
    text-transform: none !important;
    color: #ff6e00 !important;
    margin: 0 0 14px 0 !important;
    padding: 0 !important;
}

.show-event-description h3 {
    font-size: 1.2em !important;
    text-transform: none !important;
    color: #ff6e00 !important;
    margin: 0 0 7px 0 !important;
    padding: 0 !important;
}

.show-event-description p {
    font-size: 100% !important;
}

.show-event-teaser {
    width: 100%;
    padding: 14px;
    margin-bottom: 14px;
    background-color: #ffb780;
    color: #fff;
    text-align: center;
}

.event-subscribe-tabs {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.event-subscribe-tab {
    display: inline-block;
    vertical-align: center;
    text-align: left;
    padding: 10px 30px 10px 0px;
    margin-bottom: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {

    .event-subscribe-tab {
        width: 30%;
    }

}

@media screen and (max-width: 600px) {

    .event-subscribe-tab {
        width: 45%;
    }

}

.event-subscribe-tabs .active span {
    color: #ff6e00;
    padding-bottom: 4px;
    border-bottom: 2px solid #ff6e00;
}

.event-form {
    display: block;
    font-size: 14px;
}

.event-form p {
    font-size: 14px;
}

.subscribe-title {
    color: #ff6e00 !important;
}

.event-form table.subscribe-select-date {
    border: 1px solid #ddd;
    margin-bottom: 14px;
}

.event-form table.subscribe-select-date th {
    background-color: #eee;
    color: #999;
    padding: 7px !important;
}

.event-form table.subscribe-select-date tr:nth-child(odd) {
    background: #fafafa;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.event-form table.subscribe-select-date tr:nth-child(even) {
    background: #ffffff;
    border-top: 1px solid #ececec;
    border-top: 1px solid #ececec;
}

@media screen and (max-width: 610px) {

    .event-form table.subscribe-select-date th {
        display: none;
    }

    .event-form table.subscribe-select-date td {
        display: inline-block;
        width: 40%;
    }

}

.event-form .section {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.event-form table {
    table-layout: fixed;
    margin-bottom: 0px;
}

@media screen and (max-width: 768px) {

    .event-form table td {
        display: block;
    }

}

.event-form table select {
    font-weight: normal !important;
}

.event-form input[type=text] {
    margin-left: 0px;
    margin-right: 7px;
    width: 100%;
}

.event-form input[type=text].large {
    max-width: 450px;
}

.event-form input[type=text].medium {
    max-width: 250px;
}

.event-form input[type=text].small {
    max-width: 150px;
}

.event-form label {
    font-weight: bold;
}

.event-form textarea {
    width: 100%;
    max-width: 450px;
    height: 100px;
}

.event-form select {
    width: 450px;
    max-width: 450px;
}

.event-form table tr th, .event-form table tr td{
    text-align: left;
    vertical-align: top;
}

.event-form  .event-form-actions {
    width: 100%;
    padding-right: 10px;
}

.event-form .align-right {
    text-align: right;
}

.event-form  .event-form-actions .event-form-action-btn {
    border: 0;
    background-color: #ff6e00;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 7px 0px 7px 7px;
    text-transform: uppercase;
}

.event-form  .event-form-actions .event-form-action-btn:hover {
    background-color: #ff7e10;
}

.event-form  .event-form-link-btn {
    border: none;
    background: none;
    font-color: blue;
    text-decoration: underline;
}

.event-form  .event-form-remove_btn {
    position: absolute;
    background: url(./img/trash-can-icon-32.png) no-repeat;
    opacity: 0.6;
    top: 7px;
    right: 7px;
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
}

.event-form .event-form-remove_btn:hover {
    opacity: 1.0;
}

.event-form div#action-code-result {
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.event-form label.costs {
    display: inline-block;
    width: 150px;

}

.subscribe-summary-intro {
    background-color: #eee;
    padding: 10px;
}

.error {
    color: #ff0000;
}

#submit_payment_form {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    padding: 2em;
    font-family: Source Sans Pro, sans-serif;
    color: #777777;
    font-size: 1.1em;
}

#submit_payment_form H1 {
    color: #ff6e00;
}

#submit_payment_form #submit_payment {
    padding: 1em;
    font-size: 1em;
    color: #ffffff;
    background-color: #ff6e00;
    border: #ff6e00;
    margin-top: 1em;
}

#pw-invoice {
    width: 90%;
    margin-top: 50px;
}

#pw-invoice .pw_invoice_intro {
    width: 100%;
}

#pw-invoice .pw_invoice_intro td {
    text-align: left;
    vertical-align: top;
}

#pw-invoice .pw_invoice_intro tr td:last-child {
    width: 175px;
    text-align: left;
    vertical-align: top;
}

@media screen and (max-width: 1000px) {

    #pw-invoice .pw_invoice_intro td {
        display: block;
        text-align: left;
        padding-left: 0;
    }

}

#pw-invoice .pw_invoice_table {
    width: 100%;
    border: 1px solid #eee;
    table-layout: fixed;
}

#pw-invoice .invoice_lines {
    width: 100%;
    border: 1px solid #eee;
    table-layout: fixed;
}

#pw-invoice .pw_invoice_table td {
    text-align: left;
    vertical-align: top;
}

@media screen and (max-width: 800px) {

    #pw-invoice .invoice_lines td {
        display: inline-block;
        width: 40%;
    }

}

@media screen and (max-width: 500px) {

    #pw-invoice .invoice_lines td {
        display: block;
    }

}

@media screen and (max-width: 500px) {

    #pw-invoice .pw_invoice_table td {
        display: block;
    }

}

#pw-invoice .pw_invoice_table td label {
    font-weight: bold;
}

#pw-invoice td.align-right {
    text-align: right;
}

#pw-invoice .action-btn {
    border: 0;
    background-color: #ff6e00;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 7px 0px 7px 7px;
}

#pw-invoice .action-btn:hover {
    background-color: #ff7e10;
}

@media screen and (max-width: 1000px) {

    #pw-invoice .action-btn {
        margin-left: 0;
    }

}

/* Custom stylings */
#mk-header .header-logo a img { max-height:80%; }
